.product-list {
  position: relative;
  display: block;
  width: 100%;
  margin: 40px -10px 0 0;
}

.product-list__grid {
  z-index: 1;
  margin: 0;
}

.product-list__item {
  width: 20%;
  margin-bottom: 15px;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  .product-list__item {
    width: 25%;
  }
}

@media (max-width: 991.98px) {
  .product-list__item {
    width: 33%;
  }
}

@media (max-width: 767.98px) {
  .product-list__item {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .product-list__item {
    width: 100%;
  }
}
