.product-list {
  position: relative;
  display: block;
  width: 100%;
}

.product-list__grid {
  display: flex !important;
  margin-right: -15px;
  margin-left: -15px;
  z-index: 1;
  height: auto !important;
}

.product-list__item {
  position: static !important;
  margin-bottom: 15px;
  padding: 0 10px;
  box-sizing: border-box;
}

.col-static {
  margin-top: 40px;
  position: static !important;
}
