<div class="product-form">
  <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="imageform">
    <input type="hidden"
           formControlName="product_image" value={{images?.length > 0 ? true : ''}}>
    <app-error-label [control]="getControl('product_image')"></app-error-label>

    <div class="form-group">
      <label>Product Images</label>
      <div class="drop-container" ngFileDrop
           [options]="uploadingOptions"
           (uploadOutput)="onUploadOutput($event)"
           [uploadInput]="uploadInput"
           [ngClass]="{'is-drop-over': dragOver, 'is-done': this.images.length >= 4}" #uploader>
        <div class="drop-content">
          <i class="fas fa-camera"></i>
          <span>Drag images here.</span>
          <small>Up to 4 images in png or jpg format allowed</small>
        </div>
      </div>
      <div class="product-form__images-list" *ngIf="images?.length > 0">
        <ul>
          <li *ngFor="let image of images">
            <div class="image-wrapper">
              <img [src]="getBlobImage(image?.nativeFile)">
            </div>
            <span>{{ image?.name }}</span>
            <a href="javascript:void(0)" (click)="removeImage(image?.id)"><i class="fas fa-trash"></i></a>
            <div class="status">
              <p-progressBar [value]="image?.progress?.data?.percentage" *ngIf="image?.progress?.data?.percentage > 0"></p-progressBar>
              <span class="text-danger" *ngIf="image?.error">{{ image?.error }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <p-footer>
      <button
        [disabled]="images?.length > 0"
        class="btn btn-primary"
        type="submit">Save Images</button>
    </p-footer>
  </form>
</div>
