.animation {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #edeef1),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
}

.placeholder {
  background: #fff;
  border: 1px solid;
  border-color: white;
  margin: 10px 0;
  padding: 15px;

  &__avatar {
    display: block;
    height: 400px;
    margin: 0 15px 20px 0;
    width: 100%;
    @extend .animation;
  }

  &__title,
  &__text {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    @extend .animation;
  }

  &__title {
    height: 40px;
  }

  &__text {
    height: 12px;
    margin-bottom: 15px;
  }

  &__content {
    display: block;
    height: 20px;
    margin-bottom: 15px;
    width: 100%;
    @extend .animation;
  }

  &__post {
    display: flex;
    flex-wrap: wrap;

    &__avatar-wrapper {
      flex: 0 0 50%;
      padding-right: 15px;
    }

    &__description {
      flex: 0 0 50%;
    }

    @media (max-width: 767.98px) {
      &__avatar,
      &__description {
        flex: 0 0 100%;
      }
    }
  }

  &__list {
    &__text-block {
      margin-bottom: 50px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ededee;
    }
  }
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
