<ng-container *ngIf="type === 'post'">
  <div class="placeholder placeholder__post">
    <div class="placeholder__post__avatar-wrapper">
      <div class="placeholder__avatar"></div>
    </div>
    <div class="placeholder__post__description">
      <div class="placeholder__title"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
      <div class="placeholder__text"></div>
    </div>
    <div class="placeholder__content"></div>
    <div class="placeholder__content"></div>
    <div class="placeholder__content"></div>
    <div class="placeholder__content"></div>
    <div class="placeholder__content"></div>
    <div class="placeholder__content"></div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'list'">
  <div class="placeholder placeholder__list">
    <div class="placeholder__list__text-block">
      <div class="placeholder__avatar"></div>
      <div class="placeholder__title"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
    </div>

    <div class="placeholder__list__text-block">
      <div class="placeholder__avatar"></div>
      <div class="placeholder__title"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
    </div>

    <div class="placeholder__list__text-block">
      <div class="placeholder__avatar"></div>
      <div class="placeholder__title"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
      <div class="placeholder__content"></div>
    </div>
  </div>
</ng-container>
