<div class="login-form">
  <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div class="form-group">
      <label>Username</label>
      <input pInputText type="text" class="form-control" autocomplete="off" formControlName="username" placeholder="Your username">
      <app-error-label [control]="getControl('username')"></app-error-label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input pInputText type="password" class="form-control" autocomplete="off" formControlName="password" placeholder="Your password">
      <app-error-label [control]="getControl('password')"></app-error-label>
    </div>
  </form>
  <ng-content></ng-content>
</div>
