<div class="product">
  <div class="container">

    <div class="product__back-actions">
      <a [routerLink]="['/home']"><i class="fas fa-chevron-left"></i> Go back</a>
    </div>

    <div class="product__wrapper">

      <div class="product__content">

        <div class="row">

          <div class="col-md-8 col-sm 12">
            <div class="product__image-wrapper">
              <img src="{{ picture }}" alt="{{ name }}">
            </div>
          </div>

          <div class="col-md-4 col-sm 12">
            <div class="product__description">

              <div class="product__description-header">
                <h1>{{ name }}</h1>
                <div class="product__clinks">
                  <a href="#" *ngFor="let cat of categories">{{ cat }}</a>
                </div>
              </div>

              <div class="product__price">
                <span>{{ price }}</span>
              </div>

              <div class="product__actions">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" tooltip="Click to add to your cart right now!"
                  placement="left" delay="500">Add to your cart now!</button>
              </div>

              <div class="product__tags">
                <span>Tags: </span>
                <div class="product__clinks">
                  <a href="#" *ngFor="let tag of tags">{{ tag }}</a>
                </div>
              </div>

              <div class="product__notes">
                <span>Terms and notes:</span>
                <p>Proident magna non ut voluptate laborum. Culpa incididunt sint ut ipsum nulla et laborum cillum ex
                  id.
                  Do
                  dolore consectetur et sint deserunt incididunt cupidatat ullamco pariatur nostrud do anim ea.
                </p>
              </div>

            </div>
          </div>

        </div>

        <div class="product__details">
          <p> {{ description }} </p>
        </div>

      </div>

    </div>

    <footer class="product__footer">

      <div class="product__footer-item">
        <i class="far fa-calendar-alt"></i>
        <span> May 13, 2014</span>
      </div>

      <div class="product__footer-item">
        <i class="far fa-comment"></i>
        <span> 2</span>
      </div>
    </footer>

    <div class="product__comments">

      <div class="product__comments-header">
        <h2>Reviews from customers</h2>
        <button type="button" class="btn btn-outline-secondary" tooltip="Add a review" placement="top" delay="500">
          <i class="fas fa-plus"></i>
        </button>
      </div>

      <div class="product__comments-item">
        <div class="product__comments-avatar">
          <img src="assets/images/nouser.png" alt="user">
        </div>
        <h3>Pepito Perez Gomez</h3>
        <p>Proident magna non ut voluptate laborum. Culpa incididunt sint ut ipsum nulla et laborum cillum ex id.
          Do
          dolore consectetur et sint deserunt incididunt cupidatat ullamco pariatur nostrud do anim ea.
        </p>
      </div>

      <div class="product__comments-item">
        <div class="product__comments-avatar">
          <img src="assets/images/nouser.png" alt="user">
        </div>
        <h3>Angelina Jolie</h3>
        <p>Proident magna non ut voluptate laborum. Culpa incididunt sint ut ipsum nulla et laborum cillum ex id.
          Do
          dolore consectetur et sint deserunt incididunt cupidatat ullamco pariatur nostrud do anim ea. Et sint
          deserunt incididunt cupidatat ullamco pariatur nostrud do anim ea.
        </p>
      </div>

    </div>

  </div>
</div>
