<div class="signup-form">
  <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div class="form-group">
      <label>Username</label>
      <input pInputText type="text" class="form-control" autocomplete="off" formControlName="username" placeholder="Your username">
      <app-error-label [control]="getControl('username')"></app-error-label>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input pInputText type="text" class="form-control" autocomplete="off" formControlName="firstname" placeholder="Your first name">
      <app-error-label [control]="getControl('firstname')"></app-error-label>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input pInputText type="text" class="form-control" autocomplete="off" formControlName="lastname" placeholder="Your last name">
      <app-error-label [control]="getControl('lastname')"></app-error-label>
    </div>
    <hr>
    <div class="form-group">
      <label>Email</label>
      <input pInputText type="text" class="form-control" autocomplete="off" formControlName="email" placeholder="Your email">
      <app-error-label [control]="getControl('email')"></app-error-label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input pInputText type="password" class="form-control" autocomplete="off" formControlName="password" placeholder="Your password">
      <app-error-label [control]="getControl('password')"></app-error-label>
    </div>
    <div class="form-group">
      <label>Password Confirmation</label>
      <input pInputText type="password" class="form-control" autocomplete="off" formControlName="passwordConfirm" placeholder="Confirm your password">
      <app-error-label [control]="getControl('passwordConfirm')"></app-error-label>
    </div>
  </form>
  <ng-content></ng-content>
</div>
