<div class="product-item">

  <a href="javascript:void(0)" class="product-item__floating-button" tooltip="Add to your cart!" placement="top" delay="500">
    <i class="fas fa-plus"></i>
  </a>

  <header class="product-item__header">
    <h2>{{ name }}</h2>
  </header>
  <div class="product-item__image-wrapper">
    <div class="content">
      <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src={{productImage}}>
        <div class="content-details fadeIn-left">
          <p>{{shortDescription}}</p>
        </div>
      </a>
    </div>
    <div *ngIf="checkIsAdmin">
      <div class="btn-group">
        <button type="button" class="btn btn-link" (click)="showAddImageForm(productIdFromProductUrl)">
          Add Images
        </button>
        <button type="button" class="btn btn-link" (click)="removeProduct(productIdFromProductUrl)">
          Remove product
        </button>
      </div>
    </div>
    <div class="price text-center">Price: <span>{{ price }}</span></div>
  </div>
  <footer class="product-item__footer">
    <div class="tags">Tags:
      <span> {{ tags }} </span>
    </div>
  </footer>

</div>
