<app-layout>
  <section class="home">
    <app-carousel [dataList]="carouselImages" [type]="'banner'">
        <ng-template #itemTemplate let-item="item">
            <img src="{{ item }}">
        </ng-template>
    </app-carousel>
    <div class="container">
      <h1 class="section-header">Welcome to Home page</h1>
    </div>
  </section>
  <app-floating-button>
    <button class="btn btn-secondary" type="button" tooltip="Add your own product!" placement="left" delay="500"
      (click)="showProductForm()"><i class="fas fa-plus"></i></button>
    <button class="btn btn-primary" type="button"><i class="fas fa-filter"></i></button>
  </app-floating-button>
</app-layout>
