<app-layout>
  <section class="home">
    <app-carousel [dataList]="carouselImages" [type]="'banner'">
        <ng-template #itemTemplate let-item="item">
            <img src="{{ item }}">
        </ng-template>
    </app-carousel>
    <div class="container">
      <div class="section-block">
        <section>
          <h4 class="section-header">Craft & Harvest</h4>
          <p class="text-center lead">The idea behind the name</p>
          <p><i>craft:</i><br>
            - an activity involving skill in making things by hand
          </p>
          <p><i>har·vest:</i><br>
            - the process or period of gathering; an accumulated store or productive result
          </p>
        </section>

        <section>
          <h4 class="section-header">About Us</h4>
          <p>Craft & Harvest started as a small hobby shop making things like candles, lip balms, hand salves, and more.
            But as time went on, there became an apparent need of having more local items available to hobbyists and
            craftspeople that the Denver market simply didn’t have. Soy wax for example, an all natural, USA grown
            and made product, normally had to be shipped several times to several places before ever reaching candle
            makers in Colorado. It's expensive and inefficient but now we can say that that process
            has been vastly simplified. We get our product shipped directly from the facility that processes the
            soybeans into the soy wax and distribute in the Denver and surrounding area offering free local pickup
            and flat fee local deliveries. This dramatically reduces our carbon footprint and supports
            sustainable USA soybean farmers at the same time!</p>
        </section>

        <section>
          <h4 class="section-header">Our Goal</h4>
          <p>Our goal as a company is to provide a variety of crafting items for candle makers and crafts people alike.
            We are working hard to source the best, most sustainable, USA made items for all your crafting needs!</p>
        </section>

      </div>
    </div>
  </section>
  <app-floating-button>
    <button class="btn btn-secondary" type="button" tooltip="Add your own product!" placement="left" delay="500"
      (click)="showProductForm()"><i class="fas fa-plus"></i></button>
    <button class="btn btn-primary" type="button"><i class="fas fa-filter"></i></button>
  </app-floating-button>
</app-layout>
